p {
  color: #484f4f;
  font-family: 'PT Sans', sans-serif, Helvetica, Arial;
  font-size: 16px;
  font-weight: normal;
  text-align: inherit;
}

footer {
  font-style: italic;
}

h1 {
  font-family: 'PT Serif', Georgia, "Times New Roman", serif;
  font-size: 35px;
  font-weight: bolder;
  text-align: inherit;
  color: #563f46;
  line-height: 1.25%;
  margin-bottom: 30px;
  margin-top: 30px;
}

#container {
  width: 100%;
  margin: 0 auto;
}

.navigation{
	list-style: none;
	margin: 0;
	background: #8ca3a3;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a:link, .navigation a:visited {
  color: #ffffff;
  background-color: #8ca3a3;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
}

.navigation a:hover, .navigation a:active {
  background-color: #c8c3cc;
}

.navigation a {
	text-decoration: none;
  text-align:center;
  display: block;
  padding: 10px;
  border-bottom:1px solid grey;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

img {
  border: none;
  width: 100%;
}

a:link {
  color: #58995E;
  text-decoration: none;
}

/*.wrapper {
    display: flex;
    flex-flow: row wrap;
}*/

@media screen and (min-width: 450px) {

  .navigation {
    flex-flow: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {

  #container {
    width: 80%;
  }

  img {
    display: block;
    width: 100%;
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 800px) {

  #item1 {
    margin-right: auto;
  }

  .navigation ul li {
    margin: 5px;
  }

  .aside-1 {
    display: block;
  }
}

@media screen and (min-width: 1000px) {

  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a c c"
    "b b d"
    "e e e"
    ;
  }

  .aside-1 {
    width: 100%;
    grid-area: a;
  }

  .image {
    grid-area: b;
  }

  .aside-2 {
    grid-area: c;
  }

  .story1 {
    grid-area: d;
  }

  .story2 {
    grid-area: e;
  }

}



/*{

      .navigation {
          flex-flow: row wrap;
          justify-content: flex-end;
      }

      .navigation a {
          border: none;
      }

      .navigation a:hover {
      	background: #c8c3cc;
      }

      .logo{
        margin-right: auto;
      }

      /*aside {
          flex: 1 auto;
      }

      article {
      flex: 3 0px;
    }

    header{
      order: 1;
    }

      .aside-1 {
          order: 2;
      }

      article{
          order: 3;
      }

      .aside-2 {
          order: 4;
      }

      footer {
          order: 5;
      }

      article {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
      }

      .image {
          width: 45%;
          margin-right: 10px;
      }

      header, article, aside, footer {
          flex: 1 100%;
          padding: 10px;
      }


      .story {
          width: 45%;
      }
}*/
