p {
  color: #484f4f;
  font-family: 'PT Sans', sans-serif, Helvetica, Arial;
  font-size: 16px;
  font-weight: normal;
  text-align: inherit;
}

footer {
  font-style: italic;
}

h1 {
  font-family: 'PT Serif', Georgia, "Times New Roman", serif;
  font-size: 35px;
  font-weight: bolder;
  text-align: inherit;
  color: #563f46;
  line-height: 1.25%;
}

#container {
  width: 100%;
  margin: 0 auto;
}

.navigation{
	list-style: none;
	margin: 0;
	background: #8ca3a3;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a:link, .navigation a:visited {
  color: #ffffff;
  background-color: #8ca3a3;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  padding: 4px;
}

.navigation a:hover, .navigation a:active {
  background-color: #c8c3cc;
}

.navigation a {
	text-decoration: none;
  text-align:center;
  display: block;
  padding: 10px;
  border-bottom:1px solid grey;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

img {
  border: none;
  width: 100%;
}

a:link {
  color: #58995E;
  text-decoration: none;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

@media (min-width:800px) {

      .navigation {
          flex-flow: row wrap;
          justify-content: flex-end;
      }

      .navigation a {
          border: none;
      }

      .navigation a:hover {
      	background: #c8c3cc;
      }

      .logo{
        margin-right: auto;
      }

      aside {
          flex: 1 auto;
      }

      article {
      flex: 3 0px;
    }

    header{
      order: 1;
    }

      .aside-1 {
          order: 2;
      }

      article{
          order: 3;
      }

      .aside-2 {
          order: 4;
      }

      footer {
          order: 5;
      }

      article {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
      }

      .image {
          width: 45%;
          margin-right: 10px;
      }
}
